{% assign currentURL = page.url | downcase | split: '/' %}
<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav">
      <a class="nav-link {% if currentURL contains 'index.html' %}active{% endif %}" href="{{ site.baseurl }}/">{{ site.title }}</a>
      {% for page in site.pages %}
      {% if page.title %}
      {% assign pageURL = page.url | downcase | split: '/' %}
      <a class="nav-link {% if currentURL == pageURL %}active{% endif %}" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>