html {
  position: relative;
  min-height: 100%;
}
body {
  /* Same as the fixed height of the footer */
  margin-bottom: 80px !important;
  min-height: 100%;
}
.blog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  color: #999;
  text-align: center;
  padding: $spacer 0;
  border-top: $border-width solid $gray-lighter;
  background-color: $gray-lightest;


  ul.social-buttons {
    margin-bottom: 0;
  }

  ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: $brand-primary;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
  }

  ul.social-buttons li a:hover,
  ul.social-buttons li a:focus,
  ul.social-buttons li a:active {
    background-color: $brand-info;
  }
}

.blog-footer p:last-child {
  margin-bottom: 0;
}

