html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px !important;
  min-height: 100%;
}
.blog-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  color: #999;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #f9f9f9;
}

/*
 * Footer
 */

//.blog-footer {
//  padding: 2.5rem 0;
//  color: #999;
//  text-align: center;
//  background-color: #f9f9f9;
//  border-top: .05rem solid #e5e5e5;
//}
.blog-footer p:last-child {
  margin-bottom: 0;
}