.header-link {
  position: absolute;
  left: -0.5em;
  opacity: 0;

  -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  -moz-transition: opacity 0.2s ease-in-out 0.1s;
  -ms-transition: opacity 0.2s ease-in-out 0.1s;
  color: $brand-primary;
}

.toc-link-h2 {

}

.toc-link-h3 {

}

h2:hover .header-link,
h3:hover .header-link {
  opacity: 1;
}